body {
  margin: 0;
  padding: 0;
  font-family: 'Special Elite', sans-serif;
  background: linear-gradient(to bottom, #ffe6e6, #ffe6f0);
  overflow-x: hidden;
}

.container {
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 32px;
  color: #b30059;
  animation: fadeInDown 1.5s ease-out;
}

.intro {
  font-size: 18px;
  max-width: 700px;
  margin: 20px auto;
  color: #333;
  animation: fadeIn 2s ease-in;
}

.photo-frame {
  margin-top: 30px;
  position: relative;
}

.photo-frame img {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  animation: fadeIn 5s ease-in-out;
}

.bubble {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: -300px;
  background: rgba(255,255,255,0.95);
  border: 2px dashed #ff80aa;
  color: #444;
  padding: 12px;
  font-size: 14px;
  border-radius: 16px;
  width: 280px;
  margin: auto;
  animation: popUp 1.2s ease-out;
  opacity: 1;
  transition: all 0.3s ease;
}

.next-button {
  margin-top: 0;
  text-align: center;
}

.next-button a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fab1a0;
  color: #2d3436;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.next-button a:hover {
  background-color: #ffeaa7;
}


/* Animasyonlar */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-40px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes popUp {
  0% { transform: scale(0.5); opacity: 0; }
  70% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); }
}

.music-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.85);
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;
  text-align: center;
}

.music-player p {
  margin: 0 0 8px 0;
  color: #d80073;
  font-weight: bold;
  font-size: 14px;
}

#playMusicBtn {
  background-color: #ff6f91;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

#playMusicBtn:hover {
  background-color: #ff3b6e;
}